<script language="javascript">
(function() {
  "use strict";
  angular
    .module('registration', ['ngMessages'])
    .controller('registrationCtrl', mainCtrl)
    .directive('passwordVerify', passwordVerify);

  function mainCtrl($scope) {
    // Some code
  }

  function passwordVerify() {
    return {
      restrict: 'A', // only activate on element attribute
      require: '?ngModel', // get a hold of NgModelController
      link: function(scope, elem, attrs, ngModel) {
        if (!ngModel) return; // do nothing if no ng-model

        // watch own value and re-validate on change
        scope.$watch(attrs.ngModel, function() {
          validate();
        });

        // observe the other value and re-validate on change
        attrs.$observe('passwordVerify', function(val) {
          validate();
        });

        var validate = function() {
          // values
          var val1 = ngModel.$viewValue;
          var val2 = attrs.passwordVerify;

          // set validity
          ngModel.$setValidity('passwordVerify', val1 === val2);
        };
      }
    }
  }
})();
</script>

<body style="background-color: #EBEBEB">
    <br>

    <h3>Register as Member</h3>

    <div class="container" ng-app="registration" ng-controller="registrationCtrl">
        <div class="row">
            <form name="register" action="?action=review" method="POST" class="form-horizonal" novalidate>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="first" class="control-label">First Name:</label>
                        <input type="text" class="form-control" id="first" name="firstname" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="last" class="control-label">Last Name:</label>
                        <input type="text" class="form-control" id="last" name="lastname" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="email" class="control-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="username" class="control-label" >Username:</label>
                        <div class="input-group">
                            <input type="text" style="display: inline;" class="form-control" id="username" name="username" placeholder="">
                            <div class="input-group-addon">@decaturmakers.org</div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : register.password.$dirty && register.password.$invalid }">
                        <label for="password" class="control-label" >Password:</label>
                        <input type="password" style="display: inline;" class="form-control" id="password" name="password" required ng-model="password" password-verify="{{passwordMatch}}">
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : register.passwordMatch.$dirty && register.passwordMatch.$invalid }">
                        <label for="passwordMatch" class="control-label" >Confirm Password:</label>
                        <input type="password" style="display: inline;" class="form-control" id="passwordMatch" name="passwordMatch" ng-model="passwordMatch" required password-verify="{{password}}">
                    </div>

                    <div class="form-group">
                        <label for="type" class="control-label" >Membership type:</label>
                            <select class="form-control" name="type" id="type">
                                <option value="basic-ind">Individual Basic ($25/mo)</option>
                                <option value="support-ind">Individual Supporter ($40/mo)</option>
                                <option value="basic-fam">Family Basic ($50/mo)</option>
                                <option value="support-fam">Family Supporter ($75/mo)</option>
                            </select>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" name="autorenew" checked> Auto-renew Membership</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
    
    <!--<p style="font-style: italic">Payments have been secured with Stripe</p>-->
