img.mas {
 height: 250px !important;
 margin-bottom: 10px;
}

.mas-button { 
    background-color: #F47B42;
    color: white;
    margin-bottom: 10px;
    display: inline-block;   
}

.mas-title { 
    background-color: #0085A7;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
}

a.mas {
    color: white;
    text-decoration: none;
}

/*.mas-save {
    background-color: #F47B42;
    margin: auto;
    display: inline-block;
}

.mas-breadcrumb {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
    text-align: center !important;
    font-size: 18px !important;
    background-color: #F47B42 !important;
    color: white !important;
    padding: 3px;
}*/