img {
 height: 250px !important;
 margin-bottom: 10px;
}

.mas-button { 
	background-color: #F47B42;
	color: white;
	margin-bottom: 10px;
	display: inline-block;   
}

.mas-title { 
	background-color: #0085A7;
	color: white;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
}

.panel-info .panel-heading {
	color: white !important;
	background-color: #0085A7 !important;
}
