<?php
    defined( 'ABSPATH' ) or die();
    echo '<link rel="stylesheet" type="text/css" href="' . plugins_url( 'member-page.css', __FILE__ ) . '">' . "\n";

    $admin_post = admin_url( 'admin-post.php' );

    require_once dirname(__DIR__).'/resources/GSuiteAPI.php';
    require_once dirname(__DIR__).'/resources/StripeAPI.php';

    $email = wp_get_current_user()->user_email;

    $user = getUser($email);
    $firstName = $user->getName()->getGivenName();
    $lastName = $user->getName()->getFamilyName();
    $personalEmail = $user->getEmails()[0]['address'];
    $sub_mgmt = $user->getCustomSchemas()['Subscription_Management'];
    $stripe_id = !empty($sub_mgmt['Stripe_ID']) ? $sub_mgmt['Stripe_ID'] : '';


    $card;
    if (!empty($stripe_id)) {
        $card = getStripeCustomerCard($stripe_id);
    }
?>

<script type="text/javascript">
    angular
        .module('memberProfile', [])
        .controller('MemberCtrl', function($scope) {
            $scope.editing = false;
        });
</script>

<div ng-app="memberProfile" ng-controller="MemberCtrl">
    <div class="row">
        <div class="mas-title col-md-12">
            Welcome, <?php echo $user->getName()->getFullName(); ?>!        
        </div>
    </div>

    <div class="row">
        <!-- PICTURE, BUTTONS -->
        <div style="text-align: center" class="col-md-4">
            <?php echo '<img src="' . plugins_url( '../images/female-placeholder.png', __FILE__ ) . '" id="profilePic" alt="Profile Picture">' . "\n";
                    ?>
            <br>
            <button type="password" class="btn mas-button">Change Password</button>
        </div>

        <!-- PERSONAL INFO FORM -->
        <div style="text-align: center" class="col-md-4">
            <form name="userForm" action="<?php echo admin_url( 'admin-post.php') ?>">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input name="firstName" class="form-control" value="<?php echo $firstName; ?>">
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input name="lastName" class="form-control">
                </div>

                <div class="form-group">
                    <label for="inputEmail" class="control-label">Personal Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="Bruh, that email address is invalid" required>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <label class="dmEmail">DM Email</label>
                    <div class="input-group">
                        <input type="text" style="display: inline;" class="form-control" id="username" name="username" disabled>
                        <div class="input-group-addon">@decaturmakers.org</div>
                    </div>
                </div>
            </form>
        </div>

        <!-- PAYMENT INFO -->
        <div style="text-align: center" class="col-md-4">
            <form name="payment">
                <div class="form-group">
                    <label for="cardNum">Last 4 Digits: <?php echo $card->last4; ?></label>
                    <input type="card" name="cardNum" ng-model="cardNum" disabled="">
                </div>

                <div class="form-group">
                    <label for="expirationDate">Expiration Date: <?php echo $card->exp_month."/".$card->exp_year; ?></label>
                    <input required type="date" name="expirationDate" disabled/>
                </div>

                <div class="form-group">
                    <label for="cardBrand">Card Type: <?php echo $card->brand; ?></label>
                    <input required type="brand" name="cardBrand" ng-model="project.cardBrand" disabled/>
                </div>

                <input type="hidden" value="<?php echo $stripe_id ?>" name="customer-id">
                <input type="hidden" name="action" value="update_card">
                <?php getStripeUpdateCard($email); ?>
            </form>
        </div>
    </div>
</div>