table {
    font-family: arial, sans-serif;
    color: #555;
    border: 0px;
    width: 100%;
    border-bottom: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
}

td {
    border: 0px;
    text-align: center;
    padding: 8px;
    
    vertical-align: middle;
}

tr:nth-child(even) {
    background-color: #ddd;
    border: 1px;
}

tr:nth-child(odd) {
    background-color: #eee;
    border: 1px;
}

h1 {
    font-size: 18px;
    padding: 0.5em;
    float: left;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
    text-align: right;
    padding-top: 13px;
}

input {
    display: inline-block;
    margin: 0.5em;
    float: left
}

.save {
    background-color: #F47B42;
    margin: auto;
    display: inline-block;
}

.mas-breadcrumb {
    margin-top: 
    font-size: 18px;
    background-color: #F47B42;
    color: white;
    padding: 3px;
    float: left;
}

a {
    color: white;
    text-decoration: none;
}

img {
    height: 30%;
}